@model MeMiXReMiX.ViewModels.AddSongViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create A Song";
}

<p><h1 id="memix-remix" class="centered-text">MeMiX ReMiX</h1></p>

<p><h4 class="centered-text">Make Your Mix! Turn up your volume</h4></p>

<table>
    <tr>
        <td>
            <select id="drums-select" class="selectors btn-lg" onchange="javascript: getMp3(0, 'drums-select', 'play-drums');">
                <option value="0">--Select--</option>
                <option value="1">Drums1</option>
                <option value="2">Drums2</option>
                <option value="3">Drums3</option>
                <option value="4">Drums4</option>
                <option value="5">Drums5</option>
                <option value="6">Drums6</option>
                <option value="7">Drums7</option>
                <option value="8">Drums8</option>
            </select>
        </td>
        <td>
            <button id="play-drums" class="btn btn-lg btn-danger play-track" onclick="javascript: playInstrument(0, 'drums-select', 'play-drums');" type="button" disabled>Play Drums</button>
        </td>
    </tr>
    <tr>
        <td>
            <select id="bass-select" class="selectors btn-lg" onchange="javascript: getMp3(1, 'bass-select', 'play-bass');">
                <option value="0">--Select--</option>
                <option value="1">Bass1</option>
                <option value="2">Bass2</option>
                <option value="3">Bass3</option>
                <option value="4">Bass4</option>
                <option value="5">Bass5</option>
                <option value="6">Bass6</option>
                <option value="7">Bass7</option>
                <option value="8">Bass8</option>
            </select>
        </td>
        <td>
            <button id="play-bass" class="btn btn-lg btn-danger play-track" onclick="javascript: playInstrument(1, 'bass-select', 'play-bass');" type="button" disabled>Play Bass</button>
        </td>
    </tr>
    <tr>
        <td>
            <select id="chords-select" class="selectors btn-lg" onchange="javascript: getMp3(2, 'chords-select', 'play-chords');">
                <option value="0">--Select--</option>
                <option value="1">Chords1</option>
                <option value="2">Chords2</option>
                <option value="3">Chords3</option>
                <option value="4">Chords4</option>
                <option value="5">Chords5</option>
                <option value="6">Chords6</option>
                <option value="7">Chords7</option>
                <option value="8">Chords8</option>
            </select>
        </td>
        <td>
            <button id="play-chords" class="btn btn-lg btn-danger play-track" onclick="javascript: playInstrument(2, 'chords-select', 'play-chords');" type="button" disabled>Play Chords</button>
        </td>
    <tr>
        <td>
            <select id="melodic-select" class="selectors btn-lg" onchange="javascript: getMp3(3, 'melodic-select', 'play-melodic');">
                <option value="0">--Select--</option>
                <option value="1">Melodic1</option>
                <option value="2">Melodic2</option>
                <option value="3">Melodic3</option>
                <option value="4">Melodic4</option>
                <option value="5">Melodic5</option>
                <option value="6">Melodic6</option>
                <option value="7">Melodic7</option>
                <option value="8">Melodic8</option>
            </select>
        </td>
        <td>
            <button id="play-melodic" class="btn btn-lg btn-danger play-track" onclick="javascript: playInstrument(3, 'melodic-select', 'play-melodic');" type="button" disabled>Play Melodic</button>
        </td>
    </tr>
</table>

<button id="stop-song" class="btn btn-default btn-lg center-block" onclick="stopAllTracks()" data-playing="true" aria-checked="true" type="button">Stop Music</button>


<p><h4  class="centered-text">Like what you've made? Give it a title and save it for later!</h4></p>


<form asp-controller="Home" asp-action="MakeSongs" method="post">
    <div class="form-group">
        <input id="title" class="form-control center-block" asp-for="Title" style="width: 450px" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <input id="digits" class="form-control" type="hidden" asp-for="FilePointer" />
        <span asp-validation-for="FilePointer"></span>
    </div>
    <div class="form-group">
        <input id="appUserName" class="form-control" type="hidden" asp-for="ApplicationsUserUserName" value="@UserManager.GetUserName(User)" />
        <span asp-validation-for="ApplicationsUserUserName"></span>
    </div>
    <div class="form-group">
        <input id="appUserID" class="form-control" type="hidden" asp-for="ApplicationUserID" value="@UserManager.GetUserId(User)" />
        <span asp-validation-for="ApplicationUserID"></span>
    </div>
    <input id="actual-submit" type="submit" hidden="hidden">
</form>


<button id="fake-submit" class="btn btn-default center-block" onclick="javascript: collectSelections();">Save it!!!</button>


<script src="~/js/MakeSongs.js"></script>
