body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(black, darkslategray);
}

p, h1, h2, h4, h5 {
    color: indianred;
}

h1, .memix {
    font-family: 'Berlin Sans FB Demi';
}

a {
    color: azure;
}

select {
    width: 140px;
    color: white/*indianred*/;
    background-color: indianred/*rgb(20,0,0)*/;
    border-color: red;
    margin: 10px;
}


.play-track {
    width: 140px;
}

.centered-text {
    text-align: center;
}

table {
    margin: 0 auto;
}

label {
    color: indianred;
}

#stop-song {
    margin-top: 20px;
}

li {
    color: indianred;
}

#memix-remix {
    margin-bottom: 30px;
}

